#events {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.event {
    display:flex;
    flex-direction:column;
    max-width:300px;
    border:5px solid black;
    text-decoration:none;
}

.event-image {
  transform:scale(0.9);
}

.event-date {
    font-family:Lato;
    font-size:30px;
    color:white;
    text-align:center;
}

.event-description {
    font-family:Lato;
    font-size:20px;
    color:white;
    padding-left:10px;
}

.event:hover {
    background-color:#505050;
    transform:scale(1.1);
    transition:transform 0.2s ease-in-out;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }