footer {
    margin:0px;
    text-align:center;
    background-color:black;
    color:var(--navbartext);
    bottom:0px;
    width:100%;
    border-top:3px white solid;
}

#copyright {
    margin:0px;
    padding:15px;
}

#frc-logo {
    width:50px;
    padding-bottom:15px;
}