header {
    position:fixed;
    display:flex;
    width:100%;
    margin:0px;
    padding:0px;
    z-index:1;
    background-color:var(--navyurbana);
    border-bottom:3px white solid;
}

#team-title {
    margin:0px;
}

#home-link{
    text-decoration:none;
    margin-left:3vw;
}

#team-group {
    display:flex;
}

#team-logo {
    margin:2vw;
    margin-left:0px;
    margin-right:0px;
    max-height:8vw;
    transition:0.2s;
}

#team-title{
    margin:1vw;
    margin-left:0px;
}

#team-name {
    font-family:Joy Multiplication;
    font-size:3vw;
    color:var(--whiteurbana);
    margin-top:20px;
    margin-bottom:0px;
    transition:0.2s;
}

#team-number {
    font-family:Joy Multiplication;
    font-size:2vw;
    color:var(--whiteurbana);
    margin:0px;
    transition:0.2s;
}

#social {
    display:flex;
    flex-direction:column;
    gap:15px 15px;
    margin-top:2.6vw;
    margin-bottom:2.6vw;
    font-size:0px;
}

.social-link {
    
}

.social-logo {
    width:1.5vw;
    transition:width 0.2s ease-in-out;
}

#navbar {
    margin:auto;
    margin-right:8vw;
    transition:0.2s;
}

#navbar-container {
    display:flex;
    list-style:none;
    padding:0px;
    margin:0px;
}

.navbar-item {
    font-family:Joy Multiplication;
    font-size:30px;
}

.navbar-link {
    font-family:Joy Multiplication;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.5vw;
    text-decoration:none; 
    color:var(--navbartext);
    padding:15px;
}

.navbar-link:hover {
    background-color:var(--navyhover);
}

#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--navyurbana);
  width: min-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-text {
    font-size:1.5vw;
    color:var(--whiteurbana);
    padding:15px;
    margin:0px;
}

#dropdown-text:hover {
    background-color:var(--navyhover);
}

#dropdown:hover #dropdown-content {
  display: block;
}

#active-page {
    background-color:var(--navyactive);
    color:var(--navbartext);
}