#articles {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:100px;
}

.article-link {
    text-decoration:none;
    margin-left:200px;
    margin-right:200px;
}

.article {
    display:flex;
    justify-content:center;
    gap:0px 50px;
    background-color:#404040;
    width:auto;
    padding:50px;
}

.article:hover {
    background-color:#505050;
}

.article-date {
    font-family:Lato;
    font-size:20px;
    color:var(--whiteurbana);
    margin:0px;
    padding:0px;
}

sup {
    font-size:12px;
}

.article-header {
    flex:1;
}

.article-title {
    font-family:Joy Multiplication;
    font-size:60px;
    color:var(--whiteurbana);
    margin:0px;
    padding:0px;
}

.article-cover-img {
    flex:2;
    max-width:600px;
    max-height:450px;
    object-fit:cover;
}

.article-context {
    font-size:25px;
    color:white;
    margin-top:40px;
}

/*
.article {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:#404040;
    width:60%;
    padding:50px;
}
.article-header {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.article-header-logo {
    text-align:center;
    width:300px;
}

.article-header-team {
    font-family:Lato;
    font-size:30px;
    color:var(--whiteurbana);
    text-align:center
} */