#robots {
    display:flex;
    flex-wrap:wrap;
    gap:100px 0px;
}

.robot-link {
    text-decoration:none;
}

.robot-link:hover {
    background-color:#505050;
}

.robot-container {
    display:flex;
    margin-left:10vw;
    margin-right:10vw;
    gap:0vw 2.5vw;
}

.robot-img {
    flex-grow:0;
    height:25vw;
    width:25vw;
    object-fit:cover;
}

.robot-label {
    flex:1;
}

.robot-name {
    font-family:Joy Multiplication;
    font-size:3vw;
    color:white;
    margin-bottom:0px;
}

.robot-year {
    font-family:Joy Multiplication;
    font-size:1.5vw;
    color:white;
    margin-top:0px;
}

.robot-description {
    font-family:Lato;
    font-size:1.3vw;
    color:white;
}

.reverse {
    flex-direction:row-reverse;
    text-align:right;
}

/* .spnsr-img {
    flex-basis:33%;
    flex-grow:0;
} */

/* .spnsr {
    display:flex;
    gap:20px;
    margin-bottom:100px;
    margin-left:100px;
    margin-right:100px;
}

.spnsr-logo {
    display:flex;
    flex-wrap:wrap;
    flex:1;
}

.spnsr-logo a {
    background-color:var(--navy);
    color:white;
    text-decoration:none;
    padding:10px;
    border-radius:10px;
    border:1px solid var(--navy);
    transition:background-color 0.2s ease-in-out;
}

.spnsr-logo a:hover {
    background-color:white;
    color:var(--navy);
}

.spnsr-img-container {
    flex-basis:100%;
    flex:1;
}

.spnsr-img-container img {
    width:200px;
    height:200px;
    object-fit:cover;
}

.spnsr-link {
    flex-basis:100%;
}

.spnsr-text {
    text-align:center;
    flex:1;
}

.spnsr-text h1 {
    margin:0px;
}

.spnsr-text p {
    line-height:30px;
}

.reverse {
    flex-direction:row-reverse;
} */