:root {
    /*Navbar Colors*/
    --navbarcolor:#222222;
    --navbaractive:#444444;
    --navbartext:#EEEEEE;
    /* --mainbackground:#404040; */
    --mainbackground:#282828;

    --navyurbana:#04003B;
    --greyurbana:#7A7A7C;
    --whiteurbana:#FFFFFF;
    --navybackground:#193669;
    --navyhover:#1f196e;
    --navyactive:#2d559c;
}

@font-face {
    font-family:Lato;
    src:url('../assets/fonts/lato.ttf');
}

@font-face {
    font-family:Neuterous;
    src:url('../assets/fonts/neuterous.ttf');
}

@font-face {
    font-family:Joy Multiplication;
    src:url('../assets/fonts/joymultiplication.ttf');
}

body {
    font-family:Lato;
    margin:0px;
}

main {
    background-color:var(--mainbackground);
    min-height:25vw;
    padding-top:12vw;
    padding-bottom:6vw;
    width:100%;
}

#title {
    font-family:Joy Multiplication;
    color:white;
    text-align:center;
    font-size:4vw;
    margin:0px;
    padding-top:80px;
    padding-bottom:80px;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
}

.parallax {
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("../assets/global/background.gif");
    min-height: 40vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}