.member-group {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 3vw 0vw;
    padding-bottom:3vw;
}

.member {
    text-align:center;
    font-size:0px;
    flex-basis:25%;
}

.member-avatar {
    height:18vw;
    width:18vw;
    object-fit:cover;
}

.member-info {
    padding-top:0.5vw;
    font-family:Joy Multiplication;
    font-size:1.5vw;
    color:white;
    margin:0.5vw;
}

.member-position {
    font-family:Joy Multiplication;
    font-size:1vw;
    color:white;
    margin:0px;
}