.members {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 60px 0px;
    padding-bottom:40px;
}

.member-profile {
    text-align:center;
    font-size:0px;
    flex-basis:25%;
}

.avatar {
    height:18vw;
    width:18vw;
    object-fit:cover;
}

.member-info {
    padding-top:10px;
    font-family:Joy Multiplication;
    font-size:2.2vw;
    color:white;
    margin:5px;
}

.member-position{
    font-family:Joy Multiplication;
    font-size:1.5vw;
    color:white;
    margin:0px;
}